---
layout: default
featured_image:
---
  <main>
    <div class="about_page">
      <div class="header">
        <h1>About Chris Kitchens</h1>
      </div>
      <div class="about_content">
      {% for item in site.data.abouts %}
        <div class="about_section">
          <h2>{{page.title}}</h2>
          {% if page.featured_image %}
           <img src="{page.featured_image}}" alt="{{page.title}}">
          {% endif %}
          <div class="editable">
            
           <img src="https://dl.airtable.com/Tmq78L8nQg2awWq9ewJr_camera.jpg" alt="">
          
          <img src="https://dl.airtable.com/eF63lEJAS6a3TNBdf8hK_camera.jpg" alt="">
          
          <img src="https://dl.airtable.com/G2GcMeRScqjE3XltkK3w_camera.jpg" alt="">
          
          <img src="https://dl.airtable.com/OQWXGRY8Qt27mmHrvfnE_camera.jpg" alt="">
          
          <img src="https://dl.airtable.com/OleCI81YTRuNqKIi84Q8_camera.jpg" alt="">
          

          <p>Corinth Missionary Baptist Church was established on September 23, 1923.  I have been privileged to serve as their pastor since  Feb. 2015.</p>


          <img src="https://dl.airtable.com/mosmgBBoR2WH9Xj0TlO0_camera.jpg" alt="">
          
          
          
          <p>Allison and I have known each other since we were both children.  Our families, in the mid to late eighties went to the same church, Rehobeth Baptist of Guntersville, AL.  One of my earliest memories is chasing her around the sanctuary and playing with her in the church cemetery, a favorite pastime for the children of the church at that time.  I know it sounds morbid, but we’re talking about the days before smartphones, tablets, DVD players in automobiles and many of the modern trinkets we entertain our children with.  It was a blast.</p>

          <p>My dad was sent from Rehobeth to pastor Myrtletree Baptist in Boaz, AL (the church where I was saved by God’s grace) and Allison’s family started attending another church as well.  Our lives took different courses, attending different schools (and rival schools at that!).  About a year after I began my preaching ministry, when I was nineteen and Allison was sixteen, she and I went on several dates.  At that time, I was often preaching youth meetings, so that was the locale of most of our outings.  We had fun, but it became glaringly obvious that we were in two different places in our lives, and neither ready for a serious courtship or relationship.</p>

          <p>A few years later, in 2005, God, in His providence, brought us back together in His perfect timing and made it abundantly clear that it was His will for us to be married.  I’ll never forget that evening on the front porch of her parent’s house while, in a time of private worship, the Lord made this fact of His will for our lives powerfully known unto us.</p>

          <p>We were engaged in January of 2006, married in April of the same year at the church that Allison was saved in, which happened to be the same church in which I preached my second sermon and first week long revival meeting, Gethsemane Baptist in Albertville, AL.  For over ten years now, the Lord has sustained us by His grace and power.</p>

          <p>After much prayer, and medical complications, the Lord allowed us to conceive our first son in 2011.  On February 6, 2012, Kenny Josiah Kitchens (Josiah) entered this world to two very proud and thankful parents.  We sit and wonder what we ever did before he came into our lives.  His joy, enthusiasm, energy and unpredictability fill our lives each day with gladness.</p>

          <p>In May 2015, our niece Acelyn Brooke Spray came to live with us.  Her spirit and life have added such a wonderful dynamic to our home.  Most of all, a few months after coming to live with us. Acelyn came to the knowledge of her sinful condition.  One night, after coming home from Sunday evening service, Acelyn came in the living room from her bedroom weeping and saying that she needed to be saved.  We prayer for sometime in the floor of our living room.  It was there, that night, that Acelyn called on the Lord to save her.  I had the privilege of baptizing her a few weeks after that.</p>

          <p>We are nothing special.  We are nothing unique.  We are simply a family that desires to serve the Lord by His grace.  Please pray for us as we seek His face, preach the Gospel and minister to the saints.</p>

          </div><!--/editable-->
        </div>
      {% endfor %}
      </div>
    </div>
  </main>