---
layout: default
main_image: 'http://storage.thefoolishnessofpreaching.com/sfc/kitchens/hero.jpg'
---
  <main>
    <div class="hero" style="background: url({{page.main_image}}) no-repeat center top; background-size: cover;">
      <div class="hero-wrapper">
        <h1 class="editable">Welcome to What A Word Is This! (Luke 4:36), the ministry website of Chris Kitchens. Chris is the Pastor/Evangelist of Corinth Missionary Baptist Church in Albertville, AL.</h1>
      </div>
    </div>
    <div class="latest-sermons">


      <ul>
      {% for item in site.data.sermons  limit: 4 %}
        <div class="sermon-teaser">
          {% if item.series_featured_image %}
          {% for img in item.series_featured_image %}
          <div class="sermon-image"><img src="{{img.url}}" />
          </div>
          {% endfor %}
          {% else %}
          <div class="sermon-image"><img src="{{site.data.settings.main_sermon_image}}" />
          </div>
          {% endif %}
          <div class="sermon-text">
            <h5><a href="{{ item.title | datapage_url: 'sermons' | prepend: site.url }}">{{item.title}}</a></h5>
          </div>
        </div>
      {% endfor %}
      </ul>

    </div>
    <div class="wrapper">
    <h3 class="latest-article">Recent Articles:</h3>
    <div class="blog-listings home">
            {% for post in site.posts %}
        <div class="blog-entry">
            {% if post.featured_image %}
            <a href="{{post.url}}">
            <img src="{{post.featured_image}}" alt="{{post.title}}" class="entry-image" /></a>
            {% else %}
            <a href="{{post.url}}">
            <img src="{{site.data.settings.main_blog_image}}" alt="" class="entry-image" /></a>
            {% endif %}
            <div class="entry-text">
            <div class="entry-header">
                <h3><a href="{{ post.url }}">{{post.title}}</a></h3>
                <p class="description"><strong>Posted On:</strong> {{post.date| date: "%B %-d, %Y" }} • <strong>Author:</strong> {{post.author}} • <strong>Category:</strong> {{post.categories}} </p>
            </div><!--/entry-text-->
            <div class="entry-description">
                {{post.content | truncatewords: 20 }}
                <a href="{{ post.url }}" class="button">Read More</a>
            </div><!--/entry-description-->
            </div><!--//entry-text---->
        </div><!--/blog-entry-->
            {% endfor %}
    </div><!--/blog-listings-->
    </div><!--/wrapper-->
  </main>
