 <footer>
    <div class="footer-wrapper">
      <div class="footer-info editable">
        <ul>
          <li><a href="#"><i class="fa fa-laptop"></i>{{site.data.settings.email}}</a></li>
          {% if  site.data.settings.twitter_url %}
          <li><a href="#"><i class="fa fa-twitter"></i>{{site.data.settings.twitter_url}}</a></li>{% endif %}
          {% if site.data.settings.phone %}
          <li><a href="#"><i class="fa fa-phone"></i>{{site.data.settings.phone}}</a></li>{% endif %}
          <li><a href="#"><i class="fa fa-envelope"></i>{{site.data.settings.address}}{% if site.data.settings.address2 %}<br>{{site.data.settings.address2}}{% endif %}, {{site.data.settings.City}}, {{site.data.settings.State}} {{site.data.settings.Zip}}</a></li>
        </ul>
      </div>
      <div class="footer-verse editable">
        <p><em>"For by grace are ye saved through faith; and that not of yourselves:it is the gift of God: Not of works, lest any man should boast."</em></p>
        <p><strong>Ephesians 2:8-9</strong></p>
      </div>
      <div class="footer-twitter"><a href="https://twitter.com/CKit_Eph2_8" data-widget-id="503030133184135168" class="twitter-timeline">My Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs")</script>
      </div>
      <div class="footer-menu">
        <div class="menu-wrapper"><a href="#">Blog</a><a href="#">Sermons</a><a href="#">Contact</a></div>
      </div>
      <div class="footer-footer">
        <p>Powered by <a href="http://sitesfor.church">Sitesfor.church</a></p>
      </div>
    </div>
  </footer><script src='js/main.js'></script>